* {
      box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  height: 100%;
}

a {
  cursor: pointer;
  color:white;
}

img {
  border-radius: 32px;
  vertical-align: middle;
}

ul {
  list-style: none;
}

h1, h2 {
  font-family: Raleway, sans-serif; 
  font-weight: 800; 
  text-transform: uppercase; 
  font-size: 1.7em;
}

h3, h4 {
  font-family: Montserrat, serif;
  font-weight: 700;
  text-transform: uppercase;
}

body {
    display: flex;
    flex-direction: column;
  height: 100%;
  font-family: Bitter, sans-serif;
  font-weight: 400;
}

.header {
    display: flex;
    flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
    background-color: #252525;
      color: white;
  padding: 15px;
}

.navigation {
    flex: 1;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}

.navigation__items {
  align-items: center;
    display: flex;
  flex: 1;
    flex-direction: row;
    justify-content: flex-start;
      list-style: none;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  font-size: 1.4rem;
}

.navigation__items li {
    padding-left: 15px;
}

.logout {
  justify-content: flex-end;
}

#simulation-name {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.7rem;
}

.infobar {
    display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  justify-content: space-between;
  background-color: #6db0fa;
}

.infobar p {
  padding: 15px;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  font-size: 1.4rem;
}

.active {
  background-color: #fac76d;
  color: white;
}

.status {
  background-color: #464646;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  padding: 10px;
  border-radius: 12px;
  color: white;
}

main {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: stretch;
  font-size: 1.2rem;
}

main section {
  padding: 15px;
  flex: 1;
}

main section:first-of-type .foo {
  padding-right: 10px;
  border-right: 1px solid gray;
}

.simulation {
  flex: 0 0 16em;
}

.simulation form {
  padding: 15px 0;
}

.simulation form label {
  display: block;
}

.menu {
  
}

.menu li {
  padding: 5px;
}

.menu .active {
  border-radius: 3px;
}

.countries {
  flex: 0 0 20em;
}

.ambassador {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ambassador p:first-of-type {
  font-weight: bold;
}

.content {
  background-color: #252525;
  color: white;
  overflow: auto;
  overflow-x: hidden;
}

.resolution {
  font-size: 1em;
}