body,html {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a{color: #AA0000;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover, a:active {color:#000;}
ul{
  list-style-type:none;
}

/* Admin Section */
#adminwrap{
  width:800px;
  margin:0 auto;
}
#adminmain{
  float:right;
  width:600px;
}
#adminside{
  float:left;
  width:200px;
}
ul.buttonlist{
  padding-left:5px;
  padding-right:5px;
  list-style: none;
  width:130px;
}
li.buttonitem{
  border: solid 1px #000;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 15px;
  list-style-image:none; 
  text-align:center;
}
dl.roomlist{
	margin-left:5px;
}
dt.roomname {
  margin-top:1em;
  font-weight: bold;
}
dd.roomprop {
  margin: 0;
  padding: 0 0 0 10px;
}

/* Rooms Section */
table, th, td, tr{
    border:1px solid LightGrey;
    padding:0 5px 0 5px;
}
th,td,tr{
	width:150px;
}
table.roomprops{
	border-collapse:collapse;
	width:auto;
}
.roompropshead td{
	height:40px;
    font-size:1.5em;
}
.roompropsrow td{
	height:30px;
	font-size:1.2em;
	text-align:center;
}