/** DASHBOARD **/

.main {
    flex-direction: column;
    padding: 15px;
}

h2:not(:first-of-type) {
    padding-top: 15px;
}

.simulation {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.simulation__bar {
    background-color: #6db0fa;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.simulation__title {
    color: #252525;
    padding: 15px;
    background-color: #fac76d;
}

.simulation__metadata {
    display: flex;
    flex-direction: row;
    font-family: Raleway, sans-serif;
    font-weight: 100;
    font-size: 1.4rem;
}

.simulation__status {
    background-color: #252525;
    color: white;
    padding: 5px;
    margin-right: 15px;
    border-radius: 5px;
    font-family: Raleway, sans-serif;
    font-weight: 100;
    font-size: 1.4rem;
}
