/***********
 BASIC RESET
 ***********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.2s ease;
}
a {
    cursor: pointer;
}

/**********
 TYPOGRAPHY
 **********/

em {
    font-style: italic;
}
i {
    font-style: normal;
}

/********
 HEADINGS
 ********/

h1 {
    color: #aaa;
}
h1, h2, h3 {
    font-family: sans-serif;
    font-size: 12pt;
    margin-right: 10px;
}

/*************
 LAYOUT & FlOW
 *************/

body {
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 1rem;
}
.header {
    align-items: center;
    display: flex;
    margin-bottom: 1rem;
}
.content {
    display: flex;
    flex: 1;
    flex-direction: row;
}
.sidebar {
    flex: 0 0 20em;
    padding-right: 1rem;
}
.section {
    flex-grow: 1;
}
.discussion {
    display: flex;
    flex-direction: column;
}

/****
 TABS
 ****/

.tabs {
    margin-bottom: 1rem;
}
.tabs__list {
    display: flex;
    list-style: none;
}
.tabs__list__item {
    border-bottom: 1px solid #aaa;
    cursor: pointer;
    flex: 1;
    padding-bottom: 1rem;
    text-align: center;
}
.tabs__list__item:hover,
.tabs__list__item.current {
    border-bottom: 1px solid #333;
}

/********
 SIDEBARS
 ********/

.sidebar__content p {
    text-indent: 1rem;
}
.sidebar__content p,
.sidebar__content li {
    margin-top: 1rem;
}
.sidebar__content ol,
.sidebar__content ul {
    list-style-position: inside;
    padding-left: 1rem;
}
.sidebar__content ol ol {
    list-style-type: none;
}
.sidebar__content ol ol > li {
    counter-increment: i;
}
.sidebar__content ol ol > li::before {
    content: "(" counter(i, lower-alpha) ") ";
}
.sidebar__content ol ol:first-child {
    counter-reset: i;
}

/*************
 CONVERSATIONS
 *************/

.conversations {
    list-style: none;
    margin: 0;
    padding: 0 !important;
}
.conversations li {
    border-bottom: 1px solid #aaa;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0 1rem 1rem;
}

/**********
 DISCUSSION
 **********/

.card,
.card--textarea {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    font: inherit;
    margin-bottom: 1rem;
    padding: 1rem;
}

.card-info {
    margin-top: 1px;
}

.card--textarea {
    border: none;
    resize: vertical;
}
.card-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 0 0 8rem;
    justify-content: flex-start;
    order: -1;
    padding-right: 1rem;
}
.card-info__flag {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
    width: 90%;
}
.card-info__status--against,
.card-info__status--for {
    border-radius: 100%;
    cursor: pointer;
    display: inline-flex;
    height: 15px;
    margin: 1rem;
    width: 15px;
    /*
    -webkit-animation: scaleout 1s infinite ease-in-out;
            animation: scaleout 1s infinite ease-in-out;
    */
}

.card-info__status--against {
    background-color: red;
}

.card-info__status--for {
    background-color: green;
}

textarea + input[type="submit"] {
    margin-top: 1rem;
}

form + .card {
    margin-top: 1rem;
}

/*****
 ICONS
 *****/

.flag {
    height: 24px;
    margin-right: 10px;
    width: 32px;
}

/*******************
 ANIMATION KEYFRAMES
 *******************/

@-webkit-keyframes scaleout {
    0% {
        -webkit-transform: scale(0.0);
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes scaleout {
    0% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}
