/** FONTS **/

@font-face {
    font-family: "Bitter";
    font-style: normal;
    font-weight: 400;
    src: local("Bitter-Regular"), url(http://themes.googleusercontent.com/static/fonts/bitter/v5/2PcBT6-VmYhQCus-O11S5-vvDin1pK8aKteLpeZ5c0A.woff) format("woff");
}
@font-face {
    font-family: "Bitter";
    font-style: normal;
    font-weight: 700;
    src: local("Bitter-Bold"), url(http://themes.googleusercontent.com/static/fonts/bitter/v5/evC1haE-MsorTl_A7_uSGbO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
}
@font-face {
    font-family: "Bitter";
    font-style: italic;
    font-weight: 400;
    src: local("Bitter-Italic"), url(http://themes.googleusercontent.com/static/fonts/bitter/v5/eMS0tViDqryBl0EG1pqFZXYhjbSpvc47ee6xR_80Hnw.woff) format("woff");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat-Regular"), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0.woff) format("woff");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: local("Montserrat-Bold"), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/IQHow_FEYlDC4Gzy_m8fcnbFhgvWbfSbdVg11QabG8w.woff) format("woff");
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 200;
    src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"), url(http://themes.googleusercontent.com/static/fonts/raleway/v7/8KhZd3VQBtXTAznvKjw-k73hpw3pgy2gAi-Ip7WPMi0.woff) format("woff");
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: local("Raleway ExtraBold"), local("Raleway-ExtraBold"), url(http://themes.googleusercontent.com/static/fonts/raleway/v7/1ImRNPx4870-D9a1EBUdPL3hpw3pgy2gAi-Ip7WPMi0.woff) format("woff");
}

/** GLOBAL **/

:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

em {
    font-style: italic;
}

i {
    font-style: normal;
}

ul {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Bitter, sans-serif;
    font-weight: 400;
}

h1, h2 {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.7em;
}

h3, h4 {
    font-family: Montserrat, serif;
    font-weight: 700;
    text-transform: uppercase;
}

.header {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}

.navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}

.navigation__items {
    display: flex;
    flex-direction: row;
}

.navigation__item {
    padding-left: 15px;
    font-family: Raleway, sans-serif;
    font-weight: 100;
    font-size: 1.4rem;
}

.main {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
}

.section {
    padding: 15px;
}

.section p,
.button {
    margin-top: 15px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 5px;
    width: 13rem;
}

.button {
    background-color: #464646;
    font-family: Raleway, sans-serif;
    font-weight: 200;
    font-size: inherit;
    padding: 10px;
    border: none;
    border-radius: 12px;
    color: white;
    text-align: center;
}
