/*****************
 * PAGE SPECIFIC *
 *****************/

h3 {
    font-size: 1rem;
}

.error {
    color: rgba(255, 0, 0, 0.8);
}

/**********
 * LAYOUT *
 **********/

main {
    display: flex;
    flex-direction: row;
}

.section:first-of-type {
    border-right: 1px solid #333;
    padding-right: 2rem;
}

.section:last-of-type {
    padding-left: 2rem;
}
