* {
      box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  height: 100%;
}

a {
  cursor: pointer;
  color:white;
  text-decoration: none;
}

a:hover {
  color:#7F7F7F;
}

img {
  border-radius: 32px;
  vertical-align: middle;
}

ul {
  list-style: none;
}

h1, h2 {
  font-family: Raleway, sans-serif; 
  font-weight: 800; 
  text-transform: uppercase; 
  font-size: 1.7em;
}

h3, h4 {
  font-family: Montserrat, serif;
  font-weight: 700;
  text-transform: uppercase;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Bitter, sans-serif;
  font-weight: 400;
}

#simulation-name {
  padding-left: 1rem;
}

.channels {
  overflow: auto;
  overflow-x: hidden;
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#create-new-channel {
  background-color: #464646;
  font-family: Raleway, sans-serif;
  font-weight: 200;
  padding: 10px;
  border-radius: 12px;
  color: white;
  text-align: center;

}

#channel-list {

}

#a-channel {

}

.debate {
  overflow: auto;
  width: 40%;
  overflow: auto;
  overflow-x: hidden;
  flex: 0 0 40%;
}

.header {
    display: flex;
    flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
    background-color: #252525;
      color: white;
  padding: 15px;
}

.navigation {
    flex: 1;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}

.navigation__items {
  align-items: center;
    display: flex;
  flex: 1;
    flex-direction: row;
    justify-content: flex-start;
      list-style: none;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  font-size: 1.4rem;
}

.navigation__items li {
    padding-left: 15px;
}

.logout {
  justify-content: flex-end;
}

#simulation-name {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.7em;
}

.infobar {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  justify-content: space-between;
  background-color: #6db0fa;
}

.infobar p {
  padding: 15px;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  font-size: 1.4rem;
}

.active {
  background-color: #fac76d;
  color: white;
}

.status {
  background-color: #fac76d;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  padding: 10px;
  border-radius: 12px;
  color: white;
}

main {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: stretch;
  font-size: 1.2rem;
}

main section {
  padding: 15px;
  flex: 1;
}

main section:first-of-type {
  padding-right: 10px;
  border-right: 1px solid gray;
}

.simulation {
  flex: 0 0 20%;
}

.simulation form {
  padding: 15px 0;
}

.simulation form label {
  display: block;
}

.menu {
  
}

.menu li {
  padding: 5px;
}

.menu .active {
  border-radius: 3px;
}

.countries {
  flex: 0 0 20em;
}

.ambassador {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ambassador p:first-of-type {
  font-weight: bold;
}

.resolution {
  background-color: #252525;
  width: 40%;
  color: white;
  overflow: auto;
  overflow-x: hidden;
  flex: 0 0 40%;
}

.resolution-content {
  font-size: 1em;
  font-family: Raleway, sans-serif;
  font-weight: 200;
}

/**********
 DISCUSSION
 **********/

.textbox {
    width: 100%;
    height: 6em;
    font-family: Raleway, sans-serif;
    font-size: 1em;
}

.card,
.card--textarea {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    font: inherit;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
}

.card-content {
    overflow: auto;
    overflow-x: hidden;
    font-family: Raleway, sans-serif;
    font-size: 1em;
    height: 8em;
}

.card-info {
    margin-top: 1px;
}

.card--textarea {
    border: none;
    resize: vertical;
}

.card-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 0 0 8rem;
    justify-content: flex-start;
    order: -1;
    padding-right: 1rem;
}
.card-info__flag {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
    width: 90%;
}
.card-info__name--chair {
  color: blue;
}
.card-info__status--against,
.card-info__status--for {
    border-radius: 100%;
    cursor: pointer;
    display: inline-flex;
    height: 15px;
    margin: 1rem;
    width: 15px;
}

.card-info__status--against {
    background-color: red;
}

.card-info__status--for {
    background-color: green;
}

textarea + input[type="submit"] {
    margin-top: 1rem;
    font-size: .8em;
    display: block;
    margin: 1rem auto 0;
}

form + .card {
    margin-top: 1rem;
}
