* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  height: 100%;
}

a {
  cursor: pointer;
  color:white;
  text-decoration: none;
}

a:hover {
  color:#7F7F7F;
}

img {
  border-radius: 32px;
  vertical-align: middle;
}

ul {
  list-style: none;
}

h1, h2 {
  font-family: Raleway, sans-serif; 
  font-weight: 800; 
  text-transform: uppercase; 
  font-size: 1.7em;
}

h3, h4 {
  font-family: Montserrat, serif;
  font-weight: 700;
  text-transform: uppercase;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Bitter, sans-serif;
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#simulation-name {
  padding-left: 1rem;
}

.channels {
  overflow: auto;
  overflow-x: hidden;
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#create-new-channel {
  background-color: #464646;
  font-family: Raleway, sans-serif;
  font-weight: 200;
  padding: 10px;
  border-radius: 12px;
  color: white;
  text-align: center;

}

#channel-list {

}

#a-channel {

}

.debate {
  overflow: auto;
  width: 40%;
  overflow: auto;
  overflow-x: hidden;
  flex: 0 0 40%;
}

.header {
    display: flex;
    flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
    background-color: #252525;
      color: white;
  padding: 15px;
}

.navigation {
    flex: 1;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}

.navigation__items {
  align-items: center;
    display: flex;
  flex: 1;
    flex-direction: row;
    justify-content: flex-start;
      list-style: none;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  font-size: 1.4rem;
}

.navigation__items li {
    padding-left: 15px;
}

.logout {
  justify-content: flex-end;
}


main {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: stretch;
  font-size: 1.2rem;
}

main section {
  padding: 15px;
  flex: 1;
}

.new-simulation-form {
  flex: 0 0 100%;
  padding-left: 2em;
}


/**********
 DISCUSSION
 **********/

.textbox {
    height: 6em;
    width: 40%;
    font-family: Raleway, sans-serif;
    font-size: 1em;
}

.textbox-small {
    height: 1.5em;
    width: 40%;
    font-family: Raleway, sans-serif;
    font-size: 1em;
}

textarea + input[type="submit"] {
    margin-top: 1rem;
    font-size: .8em;
    display: block;
    margin: 1rem auto 0;
}
